@-moz-document url-prefix("https://www.google.com/") {
/* Google Dark Theme
    Author: Andreas Karabetian
    Version: 1.0
*/

:root {
  --color: #ff7429;
  --color2: lightskyblue
}

/* Body color */
body {
    background:#181818; 
    color: #222;
}
.sfbg {
    background: #181818;
    height: 69px;
    left: 0;
    position: absolute;
    width: 100%;
}
#hdtbSum {
    background: #181818;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
}
.minidiv .sfbg {
    background: #181818;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    height: 72px;
    border-bottom: 2px solid;
        border-bottom-color: currentcolor;
    border-color: #838587;
}
#hdtb .hdtb-mitem a {
    color: #838587;
}
#hdtb {
    background: #fff;
    color: #666;
    font-size: 13px;
    border-bottom: 1px solid #838587;
    margin-top: -21px;
    outline-width: 0;
    outline: none;
    position: relative;
    z-index: 126;
}
.JolIg {
    color: white;
    font-size: 20px;
    padding: 9px 16px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0;
}
.g, body, input, .std, h1 {
    font-size: 14px;
    color: white;
}
.kno-ecr-pt {
    color: white;
    line-height: 1.2;
    font-family: arial,sans-serif-light,sans-serif;
    font-size: 30px;
    font-weight: normal;
    word-wrap: break-word;
}
.w8qArf .fl {
    color: white !important;
}
.hb8SAc {
    color: white;
}
#appbar {
    background: #181818;
    -webkit-box-sizing: border-box;
    width: 100%;
}
.kp-blk {
    box-shadow: none;
    border: 1px solid #525252;
    border-radius: 8px;
}
.rhscol .I6TXqe {
    border: 1px solid #525252;
    box-shadow: none;
}
element {
    border-bottom: 1px solid #525252;
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
    color: #838587;
}
.nsa, .fl, #rhs .gl {
    text-decoration: none;
    color: white;
}
.wCIBKb {
    padding: 16px 16px 0 16px;
    display: block;
    color: white;
}
.GHDvEf {
    text-decoration: none;
    background-color: #181818;
}
.aajZCb {
    background: #181818;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
        padding-bottom: 0px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    border: 0;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
}
.RNNXgb {
    background: #181818;
    border: 1px solid #838587;
    display: flex;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
.gLFyf {
    color:white;
}
.sbhl {
    background:#212121;
}
.gb_Ka {
    border: 2px solid var(--color);
}
.wUrVib {
    color: white;
    white-space: initial;
}
.EUjJDc {
    color:#838587;
}
#brs a {
    color:#838587;
}
.WGYX8 {
    background:#181818;
    border:none;
    color:white;
}
.llvJ5e {
    background-color: #181818;
}
.cv2VAd {
    border: 1px solid #525252;
}
.cJzOGc {
    color:white;
}
#brs .med {
    color: #838587;
}
.dr1yeb {
    background-color:#181818;
    border:none;
}
.ep3ODe .V2Zq0e {
    color: #838587;
}
.sbdb:hover {
    color:white;
}
html:not(.zAoYTe) .kp-wholepage a {
    color: #838587;
}
.s .st em, .st.s.std em {
    color:white;
}
.eJ7tvc {
    color:#838587;
}
.AUiS2 {
    border:1px solid #838587;
}
.Ss2Faf {
    color:#838587;
}
.std {
    background-color:#181818;
    border:1px solid #838587;
}
.YbqTTb:focus {
    border:1px solid var(--color);
}
.R9RxHd {
    border:1px solid #838587;
}
.B678Hb {
    background:#181818;
    color:white;
}
.P2c8Dd {
    background:#181818;
    color:white;
}
.SVWlSe {
    color:#838587;
}
.FiHGpc {
    color:white;
}
.jZWadf {
    background:#181818;
}
.hIOe2 {
    color:white;
}
.F9PbJd.IJRrpb{
    background-color:#212121;
    border:1px solid #838587;
}
.WGvvNb {
    color:var(--color);
}
.cEPPT {
    border-bottom:solid 1px #838587;
}
.qmv19b {
    border:1px solid #838587;
}
.ab_button {
    color:white;
}
.vk_c {
    background-color:#181818;
}
.vk_bk {
    color:white !important;
    background-color:#181818;
}
.NDTw3e.K7R36c {
    color:#838587;
}
.vk_c, #rhs .fIcnad {
    border:1px solid #838587;
}
.J8cLR {
    border:1px solid #838587;
}
.R9zNe, .uWmgv {
    background-color:#181818;
}
.Hg3mWc {
    border:1px solid #838587;
    padding:0px 7px 0 12px;
}
.truncation-information:link, .truncation-information:visited {
    color:#838587;
}
.gBPM8 .tmS4cc.VgAC5d .gadasb {
    color:white;
}
.W8wzH{
    color:#838587;
}
.UwAaac {
    border-top:1px solid #838587;
}
.J3Tg1d {
    border:1px solid #838587;
}
.zthhpf,.lV0vqc {
    background:#181818;
}
.JSAgYe {
    color:white;
}
.o44hBf.Y9dC1 {
    color: var(--color) !important;
}
.Vwmzxb {
    background:#212121;
}
.o44hBf {
    color:white;
}
.cEW58 {
    background-color:#181818;
    box-shadow:-1px 0 6px var(--color);
}
path:nth-child(2) {
    fill:#838587;
}
.NZmxZe { /* Images Menu */
    color:#838587 !important;
}
.rQEFy {
    border-bottom:3px solid var(--color);
}
.OWOjU {
    color:var(--color);
}
#hdtb-msb .hdtb-mitem.hdtb-msel {
    color:var(--color);
    border-bottom:3px solid var(--color);
}
#Wprf1b {
    color:var(--color);
}
.xCURGd {
    background-color:#181818;
}
.jBgGLd {
    color:white;
}
.ep3ODe .lgJJud {
    border:1px solid #838587;
}
.ep3ODe .eEz1Rd {
    border-top:1px solid #838587;
}
.f3LoEf {
    color:white;
}
.EASEnb {
    border:1px solid #838587;
}
.MXl0lf {
    background:#181818;
}
.MXl0lf:hover {
    background:#212121;
}
.CNf3nf.LhCR5d {
    background-color:#181818 !important;
}
.zRQJhd {
    background-color:#181818;
}
.sFZIhb {
    color:white;
}
#foot .AaVjTc .YyVfkd {
    color:white
}
.Fx4vi {
    color:#838587 !important;
}
.Fx4vi:hover{
    color:white !important
}
#BHDErf:hover {
    color:white !important
}
#eqQYZc:hover {
    color:white !important
}
.std {
    border:1px solid transparent;
}
.UUhRt {
    background:var(--color);
    border:1px solid var(--color);
}
.UUhRt:hover {
    background:var(--color);
    border:1px solid var(--color2);
}
.cv2VAd,.kLhEKe  {
    background:#181818;
}
.Ywxp6b {
    color: var(--color)
}
.igMPle,.nChh6e  {
    background-color: #181818;
    border-color:#838587
}
.JheGif.jBgGLd:hover {
    color:var(--color);
}
.sbibod {
    background-color:#181818;
    border:1px solid white;
}
.sbib_a {
    background:#181818;
}
#lst-ib{
    color:white
}
.WF4CUc {
    color:var(--color);
}
.OWOjU {
    color:#838586
}
.cF4V5c {
    background:#181818
}
.tfB0Bf input[type="submit"], .gbqfba {
    background:#212121 !important;
    border:none
}
.tfB0Bf input[type="submit"]:hover, .gbqfba:hover {
    border:none;
    color:#838587
}


/* Profile popup */
.gb_8a.gb_F.gb_l.gb_9a.gb_na, .gb_8a.gb_F.gb_l.gb_ab.gb_na {
    background:#181818;
    border-right:1px solid var(--color);
    border-bottom:1px solid var(--color);
}
.gb_l .gb_qb {
    background:#181818;
}
.gb_l .gb_tb {
    color:var(--color)
}
.gb_sb {
    color:#838587 !important
}
.gb_Db.gb_Db,.gb_Qb,.gb_Kb  {
    background-color:#181818;
    border-top:1px solid #838587;
}
.gb_Kb {
    border-bottom:1px solid #838587;
}
.gb_Db.gb_Db,.gb_Lb.gb_Lb  {
    color:#838587;
}
.gb_Eb > svg.gb_Fb, .gb_l .gb_vb,.gb_8b   {
    color:#838587;
}
.gb_Lb.gb_Lb, .gb_zb.gb_zb  {
    background-color:#212121;
    border:1px solid #838587;
    color:#838587;
}
.gb_Bb.gb_Bb:hover {
    background:#212121;
}

/* Squares popup */

/* Search results */
.sbl1.sbl1p {
    color: var(--color);
}
.sbl1 {
    display: flex;
    font-size: 16px;
    color: white;
    flex: auto;
    align-items: center;
    word-break: break-all;
    padding-right: 8px;
}
.duf3.aciXEb {
    color:white;
}

/* Results link color */
a:link, .q:visited {
    color: var(--color);
}
a:visited {
    color: var(--color);
}
a.fl:link, .fl a, .gl a:link {
    color: gray;
}
.btrG .btrLink cite.iUh30 {
    color: var(--color2);
    font-size: 16px;
}
.s {
    color: #8c8e91;
}
.D5gSDf {
    color: var(--color2);
}
.a, cite, cite a:link, cite a:visited, .cite, .cite:link, .bc a:link {
    color: var(--color2);
}


/* Top right actions colors */
#gb#gb a.gb_f, #gb#gb a.gb_g, #gb#gb span.gb_g {
    color: white;
    text-decoration: none;
    font-size: large;
}

/* Google offered text */
#gws-output-pages-elements-homepage_additional_languages__als {
    font-size: small;
    color: #838587;
}
a {
    color: white;
    text-decoration: none;
}

/* Bottom bar */
#fbar {
    background: #212121;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #838587;
}
.b2hzT {
    border-bottom: 1px solid #181818;
}
.b0KoTc {
    color: #838587;
    padding-left: 27px;
}
#footer a {
    color: #838587;
    margin: 2px 10px 0;
}

}